---
import { PageType } from "@rxdrag/rxcms-models";
import Layout from "@/layouts/Layout.astro";
import { rx } from "theme";
import { rxPage } from "@rxdrag/website-lib-core";
import { Meta } from "@rxdrag/website-lib";
import Header from "@/components/Header.astro";
import BreadcrumbCTA from "@/components/BreadcrumbCTA.astro";
import Footer from "@/components/Footer.astro";
import { Breadcrumb, PostCard, Pagination, FooterCTA, Globals } from "theme";

// 从 props 获取分页信息和文章数据
const { currentPage, pageSize } = Astro.props;
export async function getStaticPaths() {
  // 获取分页路由列表
  return await rx.getPostListPaths({ pageSize: 10, category: undefined });
}
const posts = await rx.getPosts({
  category: undefined,
  page: currentPage,
  pageSize,
  coverSize: {
    height: 180,
    width: 480,
  },
});
// 创建分页对象
const pagination = rxPage.postsPagination(Astro.props);
const breadcrumbItems = rxPage.postListBreadcrumbs(undefined, "Home", "Blog");
const meta = (await rx.getPageByType(PageType.PostList))?.meta;---

<Layout>
  <Meta title="Blog" slot="meta" content={meta} />
  <Header />
  <BreadcrumbCTA title={"Blog"}>
    <div>
      Your professional water treatment chemicals
      <b class="text-xl mx-2"> Supplier </b>
      in China.
    </div>
  </BreadcrumbCTA>
  <Breadcrumb items={breadcrumbItems} />
  <section class="m-h-20 w-full">
    <div class="container">
      <div class="mx-auto mt-16 grid grid-cols-1 md:grid-cols-2 gap-8">
        {posts?.map((post) => <PostCard post={post} detailTitle="Read this post" />)}
      </div>
      <Pagination pagination={pagination} />
    </div>
  </section>
  <FooterCTA />
  <Footer />
  <Globals />
</Layout>
