---
import { rx } from "theme";
import { Popover, Motion, PopoverPanel, Link } from "@rxdrag/website-lib";
import { Icon } from "@rxdrag/website-lib-core";

const theme = await rx.getTheme();
const langs = await rx.getLangs();---

<Popover class="relative">
  <div class="flex items-center gap-2 nowrap cursor-pointer">
    <Icon icon={theme?.lang?.icon} className="size-4" client:load />
    <div class="flex items-center gap-0 py-1 dark:text-white text-xs">
      {theme?.lang?.localName}
      <Motion
        class="h-5 w-5 flex items-center justify-center text-gray-600 dark:text-white"
        whileOpenable={{ open: { rotate: 180 }, close: { rotate: 0 } }}
      >
        <svg
          class="size-4"
          aria-hidden="true"
          fill="currentColor"
          focusable="false"
          viewBox="0 0 24 24"
        >
          <path d="M7.41 8.59 12 13.17l4.59-4.58L18 10l-6 6-6-6z"></path>
        </svg>
      </Motion>
    </div>
  </div>
  <PopoverPanel
    class:list={[
      "bg-white shadow-lg rounded-md",
      "absolute top-full min-w-full right-0 text-sm text-gray-700",
      "opacity-1 overflow-hidden z-20",
    ]}
    animate={{
      initial: {
        height: 0,
      },
    }}
  >
    {
      langs?.map((lang) => (
        <Link
          class:list={[
            "px-2 py-2 hover:bg-gray-200 flex items-center gap-1 nowrap",
            lang.abbr === theme?.lang?.abbr && "bg-gray-300",
          ]}
          to={"https://" + (lang?.themes?.[0].config?.domain || "")}
        >
          {lang?.icon && (
            <Icon
              icon={lang?.icon}
              className="size-4 shrink-0 border border-gray-200"
              client:load
            />
          )}
          <div class="nowrap">{lang.localName}</div>
        </Link>
      ))
    }
  </PopoverPanel>
</Popover>
